OPENAI_BASE_URL=https://api.xxx.com
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=deepseek-v4-flash

# ================= 联网搜索 =================
TAVILY_API_KEY=tvly-xxxxxxxxxxxxxxxxxxxxxx
TAVILY_API_URL=https://api.tavily.com/search

# ================= F5-TTS 语音合成 =================
F5_TTS_URL=http://localhost:8000
