OPENAI_BASE_URL=https://api.xxx.com
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=deepseek-v4-flash

# ================= 联网搜索 =================
TAVILY_API_KEY=tvly-xxxxxxxxxxxxxxxxxxxxxx
TAVILY_API_URL=https://api.xxx.com